version: 2
updates:
  # Gradle dependencies
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "weekly"           # or daily
    open-pull-requests-limit: 10
    target-branch: "main"
    labels:
      - "dependencies"
      - "auto-merge"               # optional label for auto-merge workflow

  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "github-actions"